# Disable directory browsing
Options -Indexes

# Enable URL Rewriting
RewriteEngine On

# Ensure the server knows the Base is the current folder
RewriteBase /

# Handle API routes properly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Pass the path directly to index.php
RewriteRule ^(.*)$ index.php [L,QSA]